# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Entornos virtuales
venv/
.env/

# Base de datos SQLite
*.sqlite3
*.db

# Configuración de IDE
.vscode/
.idea/

# Archivos de registro
*.log

# Archivos de caché
*.cache
